* {
  box-sizing: border-box;
}

body {
  display: block;
  padding: 2rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
}

p {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;
  line-height: 4rem;
  text-transform: uppercase;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}